<h1>Formulaire d'ajout</h1>
<form action="/options/addOption" method="post">
    <table>

        <tr>
            <td>Name :</td>
            <td><input type="text" value="" name="nom"></td>
        </tr>
        <tr>
            <td>score :</td>
            <td><input type="number" value="" name="score"></td>
        </tr>




    </table>
    <input type="submit" value="ajouter option"/>


</form>
