<h1>Formulaire d'ajout</h1>
<form action="/users/addUser" method="post">
    <table>

        <tr>
            <td>Name :</td>
            <td><input type="text" value="" name="name"></td>
        </tr>
        <tr>
            <td>Age :</td>
            <td><input type="text" value="" name="age"></td>
        </tr>
        <tr>
            <td>Classe :</td>
            <td><input type="text" value="" name="classe"></td>
        </tr>
        <tr>
            <td>Adresse :</td>
            <td><input type="text" value="" name="adresse"></td>
        </tr>
        <tr>
            <td>Password :</td>
            <td><input type="text" value="" name="password"></td>
        </tr>


    </table>
    <input type="submit" value="ajouter"/>


</form>
